<div class="wrapper restaurant_show">

  <div class="header">
    <%= link_to 'レストラン一覧に戻る', root_path %>
  </div>

  <hr>

  <div class="clearfix">
    <div class="name">
      <%= @restaurant.name %>
    </div>

    <% if user_signed_in? && @restaurant.user_id == current_user.id %>
      <div class="operation_restaurant">
        <%= link_to '編集', edit_restaurant_path, class: 'btn btn-primary' %>
        <%= link_to '削除', restaurant_path, method: :delete, class: 'btn btn-danger', data: {confirm: '削除してよろしいですか？'} %>
      </div>
    <% end %>
  </div>

  <div class="clearfix">
    <div class="col-md-5">
      <div class="big_image">
        <%= image_tag @restaurant.restaurant_images.first.image.url, id: 'big_image' %>
      </div>

      <ul class="small_images">
        <% @restaurant.restaurant_images.each do |ri| %>
          <% if ri.image? %>
            <li>
              <%= image_tag ri.image.url %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-7 info">
      <div>
        <%= label :restaurant, :telephone_number %><%= @restaurant.telephone_number %>
      </div>
      <div>
        <%= label :restaurant, :address %><%= @restaurant.address %>
        <div style='width: 100%'>
          <div id="map" style='width: 100%; height: 350px;'></div>
        </div>
      </div>
      <div>
        <%= label :restaurant, :genre_ids %><br/>
        <%= render 'restaurants/genre_list', restaurant: @restaurant %>
      </div>
      <div>
        <%= label :restaurant, :has_private_room %><%= @restaurant.has_private_room ? '有' : '無' %>
      </div>
      <div>
        <%= label :restaurant, :seat_count %><%= @restaurant.seat_count %>席
      </div>
      <div>
        <%= label :restaurant, :open_date %><%= @restaurant.open_date %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @map.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>