<!DOCTYPE html>
<html>
<head>
  <title>ElitesGourmetSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="login_logout_wrapper">
   <% if user_signed_in? %>
     <%= link_to "Log out", destroy_user_session_path, method: :delete %>
   <% else %>
     <%= link_to "Log in", new_user_session_path %>
   <% end %>
 </div>

<p class="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
